@{
    ViewBag.Title = "Contact";
}

<h2>Skontaktuj się z nami!</h2> <br /><br />

<address>
    Krówkowskiego 10<br />
    Kraków, 35-637<br />
    Polska<br />
    <abbr title="Phone">Telefon kontaktowy:</abbr>
    837 928 378
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">gymfreaks@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketingfreaks@gmail.com</a>
</address>